.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

.vscode/

*.env
*.env.*
*.env.*.*
*.env.*.*.*
*.env.*.*.*.*
*.env.*.*.*.*.*
*.env.*.*.*.*.*.*

*.idea/
*.iml
*.ipynb
*.ipynb.*
*.ipynb.*.*
*.ipynb.*.*.*
*.ipynb.*.*.*.*

